@using System.Web.Mvc.Ajax
@{
    ViewBag.Title = "Be_Vendor";
}

<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

<div id="ajaxdiv">

    @using (Ajax.BeginForm("VendorRegister", new AjaxOptions { HttpMethod = "POST",UpdateTargetId= "ajaxdiv", InsertionMode = InsertionMode.Replace }))
    {
        <div class="form-group">
            <label for="exampleFormControlInput1">Full Name <span style="color: red">*</span></label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" name="FullName">
        </div>

        <div class="form-group">
            <label for="exampleFormControlInput1">Email address <span style="color: red">*</span></label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" name="Email">
        </div>

        <div class="form-group">
            <label for="exampleFormControlInput1">National ID <span style="color: red">*</span></label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" name="NationalId">
        </div>


        <div class="form-group">
            <label for="exampleFormControlTextarea1">Seller Information</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="Bio"></textarea>
        </div>

        <input type="submit" class="btn btn-Info btn-lg" value="ok">
    }

</div>


    @*<form method="post" action="/user/VendorRegister">

            <div class="form-group">
                <label for="exampleFormControlInput1">Full Name <span style="color: red">*</span></label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" name="FullName">
            </div>

            <div class="form-group">
                <label for="exampleFormControlInput1">Email address <span style="color: red">*</span></label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" name="Email">
            </div>

            <div class="form-group">
                <label for="exampleFormControlInput1">National ID <span style="color: red">*</span></label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" name="NationalId">
            </div>


            <div class="form-group">
                <label for="exampleFormControlTextarea1">Seller Information</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="Bio"></textarea>
            </div>

            <button type="submit" class="btn btn-Info btn-lg" >OK</button>
        </form>*@

