@model List<BL.SharedModels.PostModel>




<link href="~/Assests/css/AdminLTE.min.css" rel="stylesheet" />




@foreach (var i in Model)
{
    var base64 = Convert.ToBase64String(i.user_image);
    var ImgSRC = string.Format("data:image/gif;base64,{0}", base64);

    <div class="post">
        <div class="user-block">
            <img class="img-circle img-bordered-sm" src="@ImgSRC" alt="">
            <span class="username">
                <a href="#">@i.username </a>
                <a href="#" class="pull-right btn-box-tool"><i class="fa fa-times"></i></a>
            </span>
            <span class="description"> @i.Post_date</span>
        </div>
        <!-- /.user-block -->
        <p>
            @i.Post_body
        </p>
        <ul class="list-inline">
            <li class="pull-right">
                <a href="#" class="link-black text-sm">
                    <i class="fa fa-comments-o margin-r-5"></i> Comments
                    (5)
                </a>
            </li>
        </ul>

        <input class="form-control input-sm" type="text" placeholder="Type a comment">
    </div>

}

<script src="~/Assests/js/adminlte.min.js"></script>


