<aside class="single-sidebar-widget tag_cloud_widget">
    <h4 class="widget_title">Subscribed Categories</h4>
    <ul class="list">

        @foreach (var item in ViewBag.mycats) { 
        <li>

            <a href="@Url.Action("SelectedCategory", "Category",new {id= @item.Cat_Id})"> @item.Cat_Name</a>

        </li>
        }

    </ul>
</aside>