
@{
    ViewBag.Title = "myprofile";
    Layout = "~/Views/Shared/_Profile.cshtml";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Addpost</title>

    <link href="~/Assests/css/bootstrap.css" rel="stylesheet" />
    <script src="~/Assests/js/jquery-3.2.1.min.js"></script>
    <script src="~/Assests/js/popper.js"></script>
    <script src="~/Assests/js/bootstrap.min.js"></script>
    <script src="~/Assests/js/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</head>
<body>
    <div class="container">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active show" id="posts-tab" data-toggle="tab" href="#posts" role="tab" aria-controls="home" aria-selected="true">My Posts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="false">My Orders</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="review-tab" data-toggle="tab" href="#review" role="tab" aria-controls="review" aria-selected="false">Be a Vendor</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade active show" id="posts" role="tabpanel" aria-labelledby="posts-tab">

                Posts area
            </div>
            <div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">
                @{Html.RenderAction("Show_Orders", "user");}
            </div>
            <div class="tab-pane fade" id="review" role="tabpanel" aria-labelledby="review-tab">
                @{Html.RenderAction("Be_Vendor", "user", new { id = @Session["User_Id"] });}
            </div>
        </div>
    </div>


    @section scripts{
        @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
    }

</body>
</html>