
@{
    ViewBag.Title = "RegisterNewUser";
    Layout = "~/Views/Shared/_Main.cshtml";
}


<!--================Home Banner Area =================-->
<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="container">
            <div class="banner_content text-center">
                <h2>Login/Register</h2>
                <div class="page_link">
                    <a href="Home.html">Home</a>
                    <a href="registration.html">Register</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Home Banner Area =================-->
<!--================Login Box Area =================-->
<section class="login_box_area p_120">
    <div class="container">
        <h3>Create an Account</h3>
        <div class="row">
     
            <div class="col-lg-6">
                <div class="login_form_inner reg_form">

                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Step 1</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Step 2</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Step 3</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <form class="row login_form" action="contact_process.php" method="post" id="contactForm" novalidate="novalidate">
                                <br />
                                <br />
                                <div class="col-md-12 form-group">

                                    <h4 style="position: absolute;left: -41px;top: 19px;">Personal Information</h4>
                                    
                                </div>
                                
                                <div class="col-md-12 form-group">

                              
                                    <input type="text" class="form-control" id="name" name="name" placeholder="Name">
                                </div>
                                <div class="col-md-12 form-group">
                                    <input type="email" class="form-control" id="email" name="email" placeholder="Email Address">
                                </div>
                                <div class="col-md-12 form-group">
                                    <input type="text" class="form-control" id="password" name="password" placeholder="Password">
                                </div>
                                <div class="col-md-12 form-group">
                                    <input type="password" class="form-control" id="pass" name="pass" placeholder="Confirm password">
                                </div>
                                
                                <div class="col-md-12 form-group">
                                    <button type="submit" value="submit" class="btn submit_btn">Create Account</button>
                                </div>
                            </form>
                        
                        
                        </div>
                        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">Choose Your Interests!</div>
                        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab"> helo from step3</div>
                    </div>




                    
                  



                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Login Box Area =================-->
