
@{
    ViewBag.Title = "UserSubscribeCategorie";
    //Layout = "~/Views/Shared/_Main.cshtml";
}

<div class="pl-5">
    

        <form class="row d-flex col-12" action="/user/AfterFollow" method="post">
        @foreach (var item in ViewBag.FollowVendors)
        {
            <div  class="page__toggle col-6">

                <label class="toggle">
                    <input  onchange="checkfun()"  class="toggle__input" type="checkbox" value="@item" checked name="SelectedVendors">
                    <span class="toggle__label">
                        <span class="toggle__text">@item</span>
                    </span>
                </label>
            </div>
        }
        <button  type="submit" class="btn btn-outline-primary">OK</button>
</form>

</div>


<script type="text/javascript">
    var x = 0;
    function checkfun() {
        x = x + 1;
        if (x > 4) {
            document.getElementById("btn").removeAttribute("disabled");

        }
    }



</script>
